<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>calendar-note</title>
    <link type="text/css" rel="stylesheet" href="../layui-v2.6.6/layui/css/layui.css">
    <style>
        #test-n1 .layui-laydate-main {
            width: 1000px;
        }

        #test-n1 .layui-laydate-content td, #test-n1 .layui-laydate-content th {
            width: 142px;
            height: 100px;
        }
    </style>
</head>
<body>
<div class="layui-inline" align="center" style="margin-left: 5rem;" id="test-n1"></div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/layui.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/notify_stand.js"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use('laydate', function () {
        var $ = layui.$, laydate = layui.laydate;
        //定义时间标记json
        var data = {};
        //页面加载后初始化data  --测试复制，后从接口动态获取
        // var data1 = {"2022-3-01": "<span style='color: red'>发布</span>", "2022-3-10": "休息\n 10"};
        //请求后台获取备忘录标记事件-返回json格式
        $.post("../calendar/queryNote", function (res) {
            console.log(res);
            data = JSON.parse(res);
            var new_date = new Date();
            loding_date(new_date, data);
        });

        //日历插件调用方法
        function loding_date(date_value, data) {
            laydate.render({
                elem: '#test-n1',
                type: 'date',
                theme: 'grid',
                max: '2199-06-16 23:59:59',
                position: 'static',
                range: false,
                value: date_value,
                calendar: true,
                btns: true,
                done: function (value, date, endDate) {
                    //console.log(value); //得到日期生成的值，如：2017-08-18
                    //console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    //console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    //layer.msg(value)
                    //调用弹出层方法
                    date_chose(value, data);
                },
                mark: data
                //重要json！
            });
        };


        //定义弹出层方法
        function date_chose(obj_date, data) {
            var index = layer.open({


                type: 1, skin: 'layui-layer-rim',
                //加上边框
                title: '添加备忘录',
                area: ['400px', 'auto'], //宽高
                btn: ['确定', '撤销', '取消'],
                content: ' <div class="text_box">' +
                    '       <form class="layui-form" action="">' +
                    '           <div class="layui-form-item layui-form-text">' +
                    '               <textarea id="text_book" placeholder="请输入内容"  class="layui-textarea"></textarea>' +
                    '           </div>' +
                    '       </form>' +
                    '      </div>'
                , success: function () {
                    $('#text_book').val(data[obj_date]);
                }, yes: function () {
                    //调用添加/编辑标注方法
                    if ($('#text_book').val() != '') {
                        chose_moban(obj_date, data);
                        layer.close(index);
                    } else {
                        //layer.msg('不能为空', {icon: 2});
                        notify.warning("新增内容不能为空!", "topRight");
                    }
                }, btn2: function () {
                    chexiao(obj_date, data);
                }
            });
        };


        //调用添加、标注
        function chose_moban(obj_date, markJson) {
            //获取弹出层val
            var chose_moban_val = $('#text_book').val();
            $('#test-n1').html('');
            //重要！由于插件是嵌套指定容器，再次调用前需要清空原日历控件
            // 添加属性
            markJson[obj_date] = chose_moban_val;
            console.log(JSON.stringify(markJson));
            //使用ajax向后台插入数据
            $.post("/calendar/insert", {markDate: obj_date, markNote: markJson[obj_date]}, function () {
            });
            //再次调用日历控件，
            loding_date(obj_date, markJson);
            //重要！，再标注一个日期后会刷新当前日期变为初始值，所以必须调用当前选定日期。
        };


        //撤销选择
        function chexiao(obj_date, markJson) {
            //删除指定日期标注
            $.post('../calendar/deleteNote', {markDate: obj_date, markNote: markJson[obj_date]}, function (result) {
                if ("1" == result.code || 1 == result.code) {
                    console.log(JSON.stringify(result));
                    delete markJson[obj_date];
                    console.log(JSON.stringify(markJson));
                    //原理同添加一致
                    $('#test-n1').html('');
                    loding_date(obj_date, markJson);
                } else {
                    notify.error(result.message, "topRight");
                }
            })
        };

    });
</script>
</body>
</html>