<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>判断题编创</title>
    <link type="text/css" rel="stylesheet" href="../layui-v2.6.6/layui/css/layui.css">
</head>
<body>
<form class="layui-form" id="addQuestionForm" lay-filter="addQuestionForm" action="" style="margin-left: 5rem;">
    <div class="layui-form-item" id="subject_0" style="width: 100%;margin-top: 20px;">
        <label class="layui-form-label">学科</label>
        <div class="layui-input-inline">
            <select id="subject" name="subject" lay-search="">
                <option value="">直接选择或者搜索</option>
                <option th:each="map:${subjectList}"
                        th:value="${map.get('id')}"
                        th:text="${map.get('project_name')}">
                </option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>

    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">题干</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="question_content" name="question_content" autocomplete="off" class="layui-input"
                   style="width: 99%;" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">标答</label>
        <div class="layui-input-inline" style="width:60%;" id="answer">
            <input name="answer" type="radio" value="正确" index="正确" title="正确" lay-skin="primary">
            <input name="answer" type="radio" value="错误" index="错误" title="错误" lay-skin="primary">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">解析</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="analyze" name="analyze" autocomplete="off" class="layui-input" style="width: 99%;"
                   onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">分值</label>
        <div class="layui-input-inline" style="width: 60%;">
            <input type="text" id="score" name="score" placeholder="分数" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">难度</label>
        <div class="layui-input-inline" style="width: 60%;">
            <div style="margin-left: 10px;" id="rate" name="rate"></div>
            <input type="text" id="difficulty" name="difficulty" style="display: none;"/>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">知识点</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="knowledge_point" name="knowledge_point" autocomplete="off" class="layui-input"
                   style="width: 99%;" onfocus="add_point(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <input type="text" id="question_type" name="question_type" value="6" style="display: none;"/>

    <div class="layui-form-item" style="margin-top: 20px;">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="postButton" id="postButton" style="margin-left: 3rem;">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button type="button" class="layui-btn layui-btn-warm" lay-submit lay-filter="addOptions" id="add">新增选项</button>
            <button class="layui-btn" lay-submit lay-filter="preview" id="preview">预览</button>
        </div>

    </div>

</form>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/layui.js"></script>
<!--<script type="text/javascript" src="../layui-v2.6.6/layui/notify/notify.js"></script>-->
<script type="text/javascript" src="../layui-v2.6.6/layui/notify_stand.js"></script>
<script type="text/javascript" src="../js/util.charset.js"></script>
<script type="text/javascript" src="../js/base64.js"></script>

<script type="text/javascript">
    layui
        .config({
            base: "../layui-exts/",
        })
        .extend({
            numberInput: "numberInput/js/index",
        });
    layui.use(['element', 'rate', 'slider', 'form', 'layer', 'numberInput'], function () {
        var $ = layui.jquery,
            element = layui.element,
            rate = layui.rate,
            slider = layui.slider,
            form = layui.form,
            layer = layui.layer,
            numberInput = layui.numberInput;
        // 使用
        numberInput.render("#score", {
            value: 0,
            autoSelcet: false,
            max: 100,
            min: 0,
            precision: 1,
            step: 0.5
        });

        //基础效果
        rate.render({
            elem: '#rate',
            value: 1,
            choose: function (value) {
                $("#difficulty").val(value);
                // document.getElementById("difficulty").value = value;
            }
        });
        //开启输入框
        slider.render({
            elem: '#score'
            , input: true //输入框
            , value: 1
            , theme: '#FF5722' //主题色
        });


        form.on('submit(postButton)', function (data) {
            console.log(JSON.stringify(data.field));
            if (data.field.subject == '' || data.field.subject == null){
                notify.warning("关联学科不能为空！","topRight");
                return false;
            }
            if (data.field.question_content == '' || data.field.question_content == null){
                notify.warning("题目不能为空！","topRight");
                return false;
            }
            if (data.field.answer == '' || data.field.answer == null){
                notify.warning("答案不能为空！","topRight");
                return false;
            }
            layer.confirm('确认提交?', {icon: -1, title: '提示'}, function (index) {
                //do something 往后台提交数据
                $.post("../questions/insertRadio",{postData : JSON.stringify(data.field)},function (result) {
                    if("1" == result.code || 1 == result.code){
                        //提交成功清空表单
                        notify.success(result.message, "topRight");
                        $("#addQuestionForm")[0].reset();
                        layui.form.render();
                        layer.close(index);
                    }else{
                        notify.error(result.message, "topRight");
                        return false;
                    }
                })
            });
            return false;
        });

        //预览
        form.on('submit(preview)',function (data) {
            console.log(JSON.stringify(data.field))
            if (data.field.question_content == null || data.field.question_content == '' || data.field.question_content == undefined || data.field.question_content == 'undefined'){
                notify.warning("题目内容为空，请编创题目后预览", "topRight");
                return false;
            }else{
                layer.open({
                    title: '',
                    type: 2,
                    offset: 'auto',
                    area: ['60%', '65%'],
                    closeBtn: 0,
                    content: ['../questions/question-preview' + '?content=' + encodeURIComponent(Util.charset.Base64.encode(JSON.stringify(data.field), "utf8")), 'no'],
                    // content: ['../questions/question-preview' + '?content=' + JSON.stringify(data.field), 'no'],
                    scrollbar: false,
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        layer.close(index); //关闭弹窗
                    },
                    cancel: function () {
                        layer.closeAll();
                    },
                    id: 'LAY_preview_questions_j' //设定一个id，防止重复弹出
                });
                return false;
            };
            return false;
        });


        form.on('submit(addOptions)',function (data) {
            notify.warning("暂不支持添加选项，敬请期待！","topRight");
            return false;
        });
    });


    function add_project(o) {
        if (o.value == '' || o.value == null) {
            // alert('x')
            // notify.warning("关联学科不能为空！","topRight");
            // return false;
        }
        var index_input = document.getElementById(o.id);
        index_input.blur();
        var content = encodeURIComponent(Util.charset.Base64.encode(o.value, "utf8"));
        layer.open({
            title: '',
            type: 2,
            offset: 'auto',
            area: ['60%', '65%'],
            closeBtn: 0,
            content: ['../questions/edit' + '?id=' + o.id + '&content=' + content, 'no'],
            scrollbar: false,
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var content_end = $(layero).find("iframe")[0].contentWindow.callbackdata();
                document.getElementById(o.id).value = content_end;
                layer.close(index); //关闭弹窗
            },
            cancel: function () {
                layer.closeAll();
            },
            id: 'LAY_add_project_j' //设定一个id，防止重复弹出
        });
    };

    function add_point(o) {
        var project_id = $("#subject").val();
        console.log("id: " + project_id);
        if (null == project_id || '' == project_id) {
            // layer.msg('学科不能置空！',{icon: 2,time:2000});
            // layer.msg('学科不能置空!', function () {
            //     //关闭后的操作
            //     var point_input = document.getElementById(o.id);
            //     point_input.blur();
            //     $("#knowledge_point").val('');
            // });
            notify.warning("学科不能置空!", "topRight", function () {
                //     //关闭后的操作
                var point_input = document.getElementById(o.id);
                point_input.blur();
                $("#knowledge_point").val('');
            });

            return false;
        } else {
            layer.open({
                //弹出point选择
                title: '',
                type: 2,
                offset: 'auto',
                area: ['580px', '450px'],
                closeBtn: 0,
                content: ['../questions/SelectPoint' + '?id=' + project_id, 'no'],
                scrollbar: false,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    var pointList = $(layero).find("iframe")[0].contentWindow.callbackpointdata();
                    console.log("content_point：" + JSON.stringify(pointList));
                    for (let i = 0; i < pointList.length; i++) {
                        console.log(i + "  value:" + pointList[i].value);
                        console.log(i + "  title:" + pointList[i].title);
                    }
                    $("#knowledge_point").val('<span class="layui-badge layui-bg-blue">蓝</span>')
                    layer.close(index); //关闭弹窗
                },
                id: 'LAY_add_point_j' //设定一个id，防止重复弹出
            })

        }

    };

</script>

</body>
</html>