<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>多选题编创</title>
    <link type="text/css" rel="stylesheet" href="../layui-v2.6.6/layui/css/layui.css">
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" action="" style="margin-left: 5rem;">
    <div class="layui-form-item" id="subject_0" style="width: 100%;margin-top: 20px;">
        <label class="layui-form-label">学科</label>
        <div class="layui-input-inline">
            <select id="subject" name="subject" lay-verify="required">
                <option value="0">物理</option>
                <option value="1">化学</option>
                <option value="2">数学</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">学科</div>

    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">题干</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="exam_name" name="exam_name" autocomplete="off" class="layui-input"
                   style="width: 99%;"
                   lay-verify="required" onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux">点击题干输入栏</div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">A</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="options_a" name="options_a" autocomplete="off" class="layui-input"
                   style="width: 99%;"
                   lay-verify="required" onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">B</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="options_b" name="options_b" autocomplete="off" class="layui-input"
                   style="width: 99%;"
                   lay-verify="required" onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">C</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="options_c" name="options_c" autocomplete="off" class="layui-input"
                   style="width: 99%;"
                   lay-verify="required" onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">D</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="options_d" name="options_d" autocomplete="off" class="layui-input"
                   style="width: 99%;"
                   lay-verify="required" onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-btn-group" style="margin-left: 40px;margin-top: -10px;">
            <button id="add2" type="button" class="layui-btn layui-btn-normal layui-btn-sm">添加</button>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">标答</label>
        <div class="layui-input-inline" style="width:60%;" id="answer">
            <input name="answer" type="checkbox" value="A" index="A" title="A" lay-skin="primary">
            <input name="answer" type="checkbox" value="B" index="B" title="B" lay-skin="primary">
            <input name="answer" type="checkbox" value="C" index="C" title="C" lay-skin="primary">
            <input name="answer" type="checkbox" value="D" index="D" title="D" lay-skin="primary">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">解析</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="analyze" name="analyze" autocomplete="off" class="layui-input" style="width: 99%;"
                   onclick="add_project(this)" onfocus="add_project(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">分值</label>
        <div class="layui-input-inline" style="width: 60%;">
            <input type="text" id="score" name="score" placeholder="分数" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">难度</label>
        <div class="layui-input-inline" style="width: 60%;">
            <div style="margin-left: 10px;" id="rate" name="rate" ></div>
            <input type="text" id="difficulty" name="difficulty" style="display: none;"/>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item" style="width: 100%;">
        <label class="layui-form-label">知识点</label>
        <div class="layui-input-inline" style="width:60%;">
            <input type="text" id="knowledge_point" name="knowledge_point" autocomplete="off" class="layui-input"
                   style="width: 99%;" onfocus="add_point(this)">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item" style="margin-top: 20px;" cpt_id="submitData">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="postButton"
                    id="postButton" style="margin-left: 3rem;">提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button type="button" class="layui-btn layui-btn-warm" id="add" >新增选项</button>
            <button class="layui-btn" lay-filter="preview" id="preview">预览</button>
        </div>

    </div>

</form>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/layui.js"></script>
<script type="text/javascript" src="../js/util.charset.js"></script>
<script type="text/javascript" src="../js/base64.js"></script>

<script type="text/javascript">
    layui
        .config({
            base: "../layui-exts/",
        })
        .extend({
            numberInput: "numberInput/js/index",
        });
    layui.use(['element', 'rate', 'slider', 'form', 'layer', 'numberInput'], function () {
        var $ = layui.jquery,
            element = layui.element,
            rate = layui.rate,
            slider = layui.slider,
            form = layui.form,
            layer = layui.layer,
            numberInput = layui.numberInput;
        // 使用
        numberInput.render("#score",{
            value:0,
            autoSelcet: false,
            max: 100,
            min: 0,
            precision: 1,
            step:0.5
        });

        //基础效果
        rate.render({
            elem: '#rate',
            value: 1,
            choose: function(value){
                $("#difficulty").val(value);
                // document.getElementById("difficulty").value = value;
            }
        });

        //开启输入框
        slider.render({
            elem: '#score'
            , input: true //输入框
            , value: 1
            , theme: '#FF5722' //主题色
        });


        form.on('submit(postButton)',function (data) {
            layer.confirm('确认提交?', {icon: -1, title:'提示'}, function(index){
                //do something
                console.log(JSON.stringify(data.field))
                layer.close(index);
            });

            return false;
        });

    });


    function add_project(o) {
        if (o.value == '' || o.value == null) {
            // alert('x')
        }
        var content = encodeURIComponent(Util.charset.Base64.encode(o.value, "utf8"));
        layer.open({
            title: '',
            type: 2,
            offset: 'auto',
            area: ['60%', '65%'],
            closeBtn: 0,
            content: ['../questions/edit' + '?id=' + o.id + '&content=' + content, 'no'],
            scrollbar: false,
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var content_end = $(layero).find("iframe")[0].contentWindow.callbackdata();
                document.getElementById(o.id).value = content_end;
                layer.close(index); //关闭弹窗
            },
            cancel: function () {
                layer.closeAll();
            },
        });
    };

    function add_point(o) {
        console.log("id: "+$("#subject").val());
        layer.open({
            //弹出point选择
            title: '',
            type: 2,
            offset: 'auto',
            area: ['45%', '50%'],
            // area: ['20%', '30%'],
            closeBtn: 0,
            content: ['../questions/SelectPoint' + '?id=' + $("#subject").val() , 'no'],
            scrollbar: false,
            btn: ['确定', '取消'],

        })
    }

</script>

</body>
</html>