<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>知识点选择</title>
    <link type="text/css" rel="stylesheet" href="../layui-v2.6.6/layui/css/layui.css">
</head>
<body>
<div id="select-point" class="demo-transfer" style="margin-left: 2.5rem;margin-top:30px;"></div>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/layui.js"></script>
<script type="text/javascript" src="../js/util.charset.js"></script>
<script type="text/javascript" src="../js/base64.js"></script>
<script>
    var callbackpointdata = function () {
        var getData = transfer.getData('select-point');
    }
</script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['transfer', 'layer', 'util'], function() {
        var $ = layui.$
            , transfer = layui.transfer
            , layer = layui.layer
            , util = layui.util;
        var data1 = eval(decodeURIComponent([[${PointList}]]));


        //显示搜索框
        transfer.render({
            elem: '#select-point'
            ,data: data1
            ,title: ['待选考点', '已选考点']
            ,showSearch: true
        })

        //获得右侧数据
        var getData = transfer.getData('select-point');


    });



</script>
</body>
</html>