<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>知识点选择</title>
    <link type="text/css" rel="stylesheet" href="../layui-v2.6.6/layui/css/layui.css">
</head>
<body>
<div id="select-point" class="demo-transfer" style="margin-left: 2.5rem;margin-top:30px;"></div>



<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../layui-v2.6.6/layui/layui.js"></script>
<script>
    var callbackpointdata = function () {
        var getData = transfer.getData('select-point');
    }
</script>
<script type="text/javascript">
    layui.use(['transfer', 'layer', 'util'], function() {
        var $ = layui.$
            , transfer = layui.transfer
            , layer = layui.layer
            , util = layui.util;

        //模拟数据
        var data1 = [
            {"value": "1", "title": "李白"}
            ,{"value": "2", "title": "杜甫"}
            ,{"value": "3", "title": "苏轼"}
            ,{"value": "4", "title": "李清照"}
            ,{"value": "5", "title": "鲁迅", "disabled": true}
            ,{"value": "6", "title": "巴金"}
            ,{"value": "7", "title": "冰心"}
            ,{"value": "8", "title": "矛盾"}
            ,{"value": "9", "title": "贤心1"}
            ,{"value": "10", "title": "贤心2"}
            ,{"value": "11", "title": "贤心3"}
            ,{"value": "12", "title": "贤心4"}
            ,{"value": "13", "title": "贤心5"}
            ,{"value": "14", "title": "贤心6"}
            ,{"value": "15", "title": "贤心7"}
            ,{"value": "16", "title": "贤心8"}
            ,{"value": "17", "title": "贤心9"}
            ,{"value": "18", "title": "贤心15"}
            ,{"value": "19", "title": "贤心50"}
            ,{"value": "20", "title": "贤心51"}
        ]

            ,data2 = [
            {"value": "1", "title": "瓦罐汤"}
            ,{"value": "2", "title": "油酥饼"}
            ,{"value": "3", "title": "炸酱面"}
            ,{"value": "4", "title": "串串香", "disabled": true}
            ,{"value": "5", "title": "豆腐脑"}
            ,{"value": "6", "title": "驴打滚"}
            ,{"value": "7", "title": "北京烤鸭"}
            ,{"value": "8", "title": "烤冷面"}
            ,{"value": "9", "title": "毛血旺", "disabled": true}
            ,{"value": "10", "title": "肉夹馍"}
            ,{"value": "11", "title": "臊子面"}
            ,{"value": "12", "title": "凉皮"}
            ,{"value": "13", "title": "羊肉泡馍"}
            ,{"value": "14", "title": "冰糖葫芦", "disabled": true}
            ,{"value": "15", "title": "狼牙土豆"}
        ]

        //显示搜索框
        transfer.render({
            elem: '#select-point'
            ,data: data1
            ,title: ['文本墨客', '获奖文人']
            ,showSearch: true
        })

        //获得右侧数据
        var getData = transfer.getData('select-point');


    });



</script>
</body>
</html>